@font-face {
  src: url("./fonts/PaytoneOne-Regular.ttf");
  font-family: "Paytone Regular";
}

body,
html {
  font-family: "Paytone Regular";
}

.main {
  max-width: 100%;
  width: 850px;
  margin: 0 auto;
  position: relative;
}

.flex-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.nav-container {
  width: 50%;
}

.links-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.links-container_items {
  padding: 5px 10px;
}

.links-container_items a {
  color: orange;
  text-decoration: none;
}

.board-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.board {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  max-width: 500px;
  font-size: 30px;
}

.board__items {
  margin: 10px 5px;
  /* padding: 10px 0; */
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -3px -1px 3px rgba(0, 0, 0, 0.3);
  height: 60px;
  border: solid 2px #f77925;
  background-image: linear-gradient(#fff -15%, #f77925 70%);
  background-color: #f77925;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #ddd;
  transition: all 1s ease;
  color: #fff;
}

.board__items:active {
  box-shadow: inset 3px 3px 5px #ddd;
}

.word-textfield {
  width: 100%;
  height: 80px;
  border: solid 2px #aaa;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "Paytone Regular";
  color: #d0021b;
}

.textfield-container {
  position: relative;
  margin: 0 0 10px 0;
}

.isvalid-text {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  color: #d0021b;
}

.valid {
  color: #7ed321;
}

.reset-board {
  display: block;
  color: #000;
  margin: 0 0 0 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  float: right;
  font-size: 20px;
  text-decoration: none;
}

.reset-board[disabled] {
  color: #ddd;
}

.tile-invalid-selected {
  background-color: #d0021b;
  background-image: linear-gradient(#fff -15%, #d0021b 70%);
  border-color: #d0021b;
}

.tile-valid-selected {
  background-color: #7ed321;
  background-image: linear-gradient(#fff -15%, #7ed321 70%);
  border-color: #7ed321;
}

.score-section {
  max-width: 640px;
  display: block;
  margin: auto;
}

.title {
  margin-left: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden auto;
  max-height: 300px;
  border: solid 1px #ddd;
}

.list-item {
  font-size: 22px;
  padding: 15px 5px 15px 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}

.list-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 800px) {
  .textfield-container {
    width: 40%;
  }

  .reset-board {
    position: absolute;
    right: 0;
    float: none;
  }

  .list-container {
    height: 380px;
  }
}
